th,td,tr,thead,tbody,table {
	border: 1px solid black;
    text-align: center; /* Center text horizontally */
            vertical-align: middle;
}

#html {
   background-color: black;
    color: #ffffff;
}
